body

{
    width:100%;
    margin: auto;
    
}

header
div.logo
{
    width:100px;
    padding-left: 30%;
}
header
section.inputheader
{
background-color:#f5f5f5;
padding-left: 30%;

}

div.containerexplorer
input
{
    border: hidden;
    height: 50px;
    background-color:lightgray;
    text-align: center;   
    
}
section.input
{
    background-color:lightgray;
}

div.containerexplorer
h1
{
    font-size: 30px;
    font-weight: 900;
} 
h2
{
    font-size: x-large;
    font-weight: 500;
} 
a.bouton
{
    border:solid transparent;
    border-radius: 30px;
    padding: 8px;
    text-decoration: none;
    color: white;
    background-color: rgb(206, 117, 206);
}
   


div.containerexplorer
{
    background-color: whitesmoke;
    height:300px;
    width:90%;
    margin:auto;
    text-align: center;
    
}

div.containerfonctionnement
{
    width:90%;
    margin:auto;
}

div.containerfonctionnement
i
{
    position: absolute;
    padding-left: 40px;
}
span
{
    color: purple;
    position: absolute;
    padding-left:40px;
    
}
section.number
{
    float:left;
    position: relative;
    margin-left: -60px;
    color: white;
    border-radius: 20px;
    width:15px;
    background-color: purple;
    
}


div.containerfonctionnement
h1
{
 font-size:20px;
}
div.containerfonctionnement
a
{
    text-decoration: none;
    color: black;
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
    border:black transparent;
    border-radius: 10px;
    background-color: whitesmoke;
    width:90%;
    height:30px;
    text-align:center;
    padding:15px;
    box-shadow: 0px 3px 5px 1px #ccc; 
    position: relative;
}

div.containerimages
{
    width:90%;
    margin:auto;
    background-color: whitesmoke;
}

div.contentimages
{
    background-color: white;
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    height:200px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 5px 1px #ccc;
}

div.containerimages
h1
{
font-size: 20px;
width:90%;
margin:auto;
margin-bottom: 10px;
}

div.contentimages img
{
width:100%;
object-fit: cover;
overflow: hidden;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
height:70%;

}

div.contentimages
h3
{
font-size: 15px;
line-height: 0%;
padding-left: 10px;
}
p
{
    font-size: 15px;
    padding-left: 10px;
    line-height: 0%;
}

div.contentimages
i
{
padding-left: 200px;


}
i:hover
{
color:purple;

}

div.containerfooter
{
background-color: black;
}

div.containerfooter img

{
color:white;
font-size: 15px;

}

div.containerfooter
a
{
    color:white;
    text-decoration: none;
}
div.containerfooter
img
{
    color:white;
}

div.containerfooter
i
{
    font-size: 10px;
    padding-right: 5px;
}

/*partie ci dessous concerne les pages index1 index2 index 3 index4*/


section.image img
{
  width:96%;
  height:30%;
  margin-left: 2%;
  margin-right: 2%;
  position:relative;

}


div.logo
i
{
margin-left:-120px;
position:absolute;
padding-top: 10px;
}

div.menucontainer

{
    width:96%;
    height: 920px;
    margin:2%;
    background-color: whitesmoke;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -80px;
    position: relative;
    margin-bottom: 40px;
       
}

div.menu
a
{
text-decoration: none;
color:black;
}
h1
{
    font-size: 25px;
    padding-left: 20px;
    padding-top: 10px;
    
}
h2
{
    font-size: 20px;
    padding-left: 20px;  
    padding-top: 10px;
    
}

div.choix
{
    background-color: white;
    height:60px;
    width:90%;
    margin:auto;
    border-radius: 20px;
     
}
h3
{
    padding-left: 10px;
}
div.choix
span
{
    color:black;
           
}


div.boutton
a
{
    border:solid transparent;
    border-radius: 30px;
    padding: 5px;
    margin-left: 40%;
    text-decoration: none;
    color: white;
    background-color: rgb(206, 117, 206);
}
div.containerfooter
{
    margin-top: 60px;
}




