body

{
    width:100%;
    margin: auto;
    
}

header
div.logo
{
    width:100px;
    padding-left: 30%;
}
header
section.inputheader
{
background-color:#f5f5f5;
padding-left: 30%;

}

div.containerexplorer
input
{
    border: hidden;
    height: 50px;
    background-color:lightgray;
    text-align: center;   
    
}
section.input
{
    background-color:lightgray;
}

div.containerexplorer
h1
{
    font-size: 30px;
    font-weight: 900;
} 
h2
{
    font-size: x-large;
    font-weight: 500;
} 
a.bouton
{
    border:solid transparent;
    border-radius: 30px;
    padding: 8px;
    text-decoration: none;
    color: white;
    background-color: violet;
}
   


div.containerexplorer
{
    background-color: whitesmoke;
    height:300px;
    width:90%;
    margin:auto;
    text-align: center;
    
}

div.containerfonctionnement
{
    width:90%;
    margin:auto;
}

div.containerfonctionnement
i
{
    position: absolute;
    padding-left: 40px;
}
span
{
    color: violet;
    position: absolute;
    padding-left:40px;
    
}
section.number
{
    float:left;
    position: relative;
    margin-left: -60px;
    color: violet;
}


div.containerfonctionnement
h1
{
 font-size:20px;
}
div.containerfonctionnement
a
{
    text-decoration: none;
    color: black;
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
    border:black transparent;
    border-radius: 10px;
    background-color: whitesmoke;
    width:90%;
    height:30px;
    text-align:center;
    padding:15px;
    box-shadow: 0px 3px 5px 1px #ccc; 
    position: relative;
}

div.containerimages
{
    width:90%;
    margin:auto;
    background-color: whitesmoke;
}

div.contentimages
{
    background-color: white;
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    height:200px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 5px 1px #ccc;
}

div.containerimages
h1
{
font-size: 20px;
width:90%;
margin:auto;
margin-bottom: 10px;
}

div.contentimages img
{
width:100%;
object-fit: cover;
overflow: hidden;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
height:70%;

}

div.contentimages
h3
{
font-size: 15px;
line-height: 0%;
padding-left: 10px;
}
p
{
    font-size: 15px;
    padding-left: 10px;
}

div.containerfooter
{
background-color: black;
}

div.containerfooter img

{
color:white;
font-size: 15px;
}
div.containerfooter
a
{
    color:white;
    text-decoration: none;
}
div.containerfooter
img
{
    color:white;
}




